$color-darken-2: #203B43;
$color-lighten-1: #88979B;
$color-blue: #1E93FF;
$color-purple: #B030FF;
$color-green: #28CC56;

$body-bg: #F3F6F7;
$body-color: #fff;

$colors:(
  "blue": $color-blue,
  "purple": $color-purple,
  "green": $color-green
);